# Backend
## Virtual Env
VirtualEnv/

## Py cache
__pycache__/

## Python default database
db.sqlite3

## Python database migrations
migrations/

## Files
.pyc
.env

# Frontend
## Node Modules
node_modules/

## Files
.env